// layout
$spacer: 20px;

// colors
$color-oxygen: #00a2a7;
$color-hydrogen: #0fdac2;
$color-carbon: #2f3e49;
$color-nitrogen: #bcf469;
$color-phosphorous: #f4fd98;
$color-iron: #ff5a5a;


html{

}
body{

}
header{
  margin: 0 0 $spacer 0;
  text-align: center;
}
section{
  lost-flex-container: row;
  lost-center: 1140px;
  margin-bottom: $spacer;

  &:last-of-type{
    margin-bottom: 0;
  }
}
.container{
  background: #fff;
  lost-center: 980px;
}

.center{
  text-align: center;
}
