header.hero{
  background: linear-gradient(135deg, #00a2a7 0%,#0fdac2 100%);
  height: 60vh;
  lost-align: center;
  color: #fff;
}

.h1--hero{
  font-size: responsive 2rem 6rem;
}
.tagline{
  font-size: responsive .8rem 1.4rem;
  max-width: 40rem;
}
